<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LoginFormExample</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>hjd</display-name>
    <servlet-name>hjd</servlet-name>
    <servlet-class>hjd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hjd</servlet-name>
    <url-pattern>/hjd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPojo</display-name>
    <servlet-name>AdminPojo</servlet-name>
    <servlet-class>AdminPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPojo</servlet-name>
    <url-pattern>/AdminPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDAO</display-name>
    <servlet-name>AdminDAO</servlet-name>
    <servlet-class>AdminDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDAO</servlet-name>
    <url-pattern>/AdminDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUDPojo</display-name>
    <servlet-name>AUDPojo</servlet-name>
    <servlet-class>AUDPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUDPojo</servlet-name>
    <url-pattern>/AUDPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUDController</display-name>
    <servlet-name>AUDController</servlet-name>
    <servlet-class>AUDController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUDController</servlet-name>
    <url-pattern>/AUDController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUDDao</display-name>
    <servlet-name>AUDDao</servlet-name>
    <servlet-class>AUDDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUDDao</servlet-name>
    <url-pattern>/AUDDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUDController2</display-name>
    <servlet-name>AUDController2</servlet-name>
    <servlet-class>AUDController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUDController2</servlet-name>
    <url-pattern>/AUDController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AAController</display-name>
    <servlet-name>AAController</servlet-name>
    <servlet-class>AAController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AAController</servlet-name>
    <url-pattern>/AAController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationPojo</display-name>
    <servlet-name>registrationPojo</servlet-name>
    <servlet-class>registrationPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationPojo</servlet-name>
    <url-pattern>/registrationPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationDAO</display-name>
    <servlet-name>registrationDAO</servlet-name>
    <servlet-class>registrationDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationDAO</servlet-name>
    <url-pattern>/registrationDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pojo</display-name>
    <servlet-name>pojo</servlet-name>
    <servlet-class>pojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pojo</servlet-name>
    <url-pattern>/pojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dao</display-name>
    <servlet-name>dao</servlet-name>
    <servlet-class>dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dao</servlet-name>
    <url-pattern>/dao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AUDdController</display-name>
    <servlet-name>AUDdController</servlet-name>
    <servlet-class>AUDdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AUDdController</servlet-name>
    <url-pattern>/AUDdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>qwhdobe</display-name>
    <servlet-name>qwhdobe</servlet-name>
    <servlet-class>qwhdobe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qwhdobe</servlet-name>
    <url-pattern>/qwhdobe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PController</display-name>
    <servlet-name>PController</servlet-name>
    <servlet-class>PController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PController</servlet-name>
    <url-pattern>/PController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PPojo</display-name>
    <servlet-name>PPojo</servlet-name>
    <servlet-class>PPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PPojo</servlet-name>
    <url-pattern>/PPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gui</display-name>
    <servlet-name>gui</servlet-name>
    <servlet-class>gui</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gui</servlet-name>
    <url-pattern>/gui</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rrport</display-name>
    <servlet-name>Rrport</servlet-name>
    <servlet-class>Rrport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rrport</servlet-name>
    <url-pattern>/Rrport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewer</display-name>
    <servlet-name>Viewer</servlet-name>
    <servlet-class>Viewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewer</servlet-name>
    <url-pattern>/Viewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPojo</display-name>
    <servlet-name>UserPojo</servlet-name>
    <servlet-class>UserPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPojo</servlet-name>
    <url-pattern>/UserPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controllerwe</display-name>
    <servlet-name>Controllerwe</servlet-name>
    <servlet-class>Controllerwe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controllerwe</servlet-name>
    <url-pattern>/Controllerwe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInsert</display-name>
    <servlet-name>ProductInsert</servlet-name>
    <servlet-class>ProductInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInsert</servlet-name>
    <url-pattern>/ProductInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdate</display-name>
    <servlet-name>ProductUpdate</servlet-name>
    <servlet-class>ProductUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdate</servlet-name>
    <url-pattern>/ProductUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDelete</display-name>
    <servlet-name>ProductDelete</servlet-name>
    <servlet-class>ProductDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDelete</servlet-name>
    <url-pattern>/ProductDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ge</display-name>
    <servlet-name>Ge</servlet-name>
    <servlet-class>Ge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ge</servlet-name>
    <url-pattern>/Ge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PdfGeneratorServlet</servlet-name>
    <servlet-class>com.yourpackage.PdfGeneratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfGeneratorServlet</servlet-name>
    <url-pattern>/PdfGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatecontroller</display-name>
    <servlet-name>Updatecontroller</servlet-name>
    <servlet-class>Updatecontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatecontroller</servlet-name>
    <url-pattern>/Updatecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertController</display-name>
    <servlet-name>InsertController</servlet-name>
    <servlet-class>InsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertController</servlet-name>
    <url-pattern>/InsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Producti</display-name>
    <servlet-name>Producti</servlet-name>
    <servlet-class>Producti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Producti</servlet-name>
    <url-pattern>/Producti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lr</display-name>
    <servlet-name>lr</servlet-name>
    <servlet-class>lr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lr</servlet-name>
    <url-pattern>/lr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUp</display-name>
    <servlet-name>ProductUp</servlet-name>
    <servlet-class>ProductUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUp</servlet-name>
    <url-pattern>/ProductUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdate</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystAdd</display-name>
    <servlet-name>AnalystAdd</servlet-name>
    <servlet-class>AnalystAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystAdd</servlet-name>
    <url-pattern>/AnalystAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAdd</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>UserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPojo1</display-name>
    <servlet-name>UserPojo1</servlet-name>
    <servlet-class>UserPojo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPojo1</servlet-name>
    <url-pattern>/UserPojo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao1</display-name>
    <servlet-name>UserDao1</servlet-name>
    <servlet-class>UserDao1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao1</servlet-name>
    <url-pattern>/UserDao1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController1</display-name>
    <servlet-name>UserController1</servlet-name>
    <servlet-class>UserController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController1</servlet-name>
    <url-pattern>/UserController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController1</display-name>
    <servlet-name>ProductController1</servlet-name>
    <servlet-class>ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController1</servlet-name>
    <url-pattern>/ProductController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdate1</display-name>
    <servlet-name>UserUpdate1</servlet-name>
    <servlet-class>UserUpdate1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate1</servlet-name>
    <url-pattern>/UserUpdate1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdt</display-name>
    <servlet-name>UserUpdt</servlet-name>
    <servlet-class>UserUpdt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdt</servlet-name>
    <url-pattern>/UserUpdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController2</display-name>
    <servlet-name>ProductController2</servlet-name>
    <servlet-class>ProductController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController2</servlet-name>
    <url-pattern>/ProductController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSuccess</display-name>
    <servlet-name>UserSuccess</servlet-name>
    <servlet-class>UserSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSuccess</servlet-name>
    <url-pattern>/UserSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystDao</display-name>
    <servlet-name>AnalystDao</servlet-name>
    <servlet-class>AnalystDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystDao</servlet-name>
    <url-pattern>/AnalystDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystController</display-name>
    <servlet-name>AnalystController</servlet-name>
    <servlet-class>AnalystController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystController</servlet-name>
    <url-pattern>/AnalystController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystAdd1</display-name>
    <servlet-name>AnalystAdd1</servlet-name>
    <servlet-class>AnalystAdd1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystAdd1</servlet-name>
    <url-pattern>/AnalystAdd1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystPojo</display-name>
    <servlet-name>AnalystPojo</servlet-name>
    <servlet-class>AnalystPojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystPojo</servlet-name>
    <url-pattern>/AnalystPojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Analystpojo</display-name>
    <servlet-name>Analystpojo</servlet-name>
    <servlet-class>Analystpojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Analystpojo</servlet-name>
    <url-pattern>/Analystpojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystDao1</display-name>
    <servlet-name>AnalystDao1</servlet-name>
    <servlet-class>AnalystDao1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystDao1</servlet-name>
    <url-pattern>/AnalystDao1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystController1</display-name>
    <servlet-name>AnalystController1</servlet-name>
    <servlet-class>AnalystController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystController1</servlet-name>
    <url-pattern>/AnalystController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystAddController</display-name>
    <servlet-name>AnalystAddController</servlet-name>
    <servlet-class>AnalystAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystAddController</servlet-name>
    <url-pattern>/AnalystAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystUpdateController</display-name>
    <servlet-name>AnalystUpdateController</servlet-name>
    <servlet-class>AnalystUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystUpdateController</servlet-name>
    <url-pattern>/AnalystUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAdd</display-name>
    <servlet-name>AdminAdd</servlet-name>
    <servlet-class>AdminAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdd</servlet-name>
    <url-pattern>/AdminAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminpojo1</display-name>
    <servlet-name>Adminpojo1</servlet-name>
    <servlet-class>Adminpojo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminpojo1</servlet-name>
    <url-pattern>/Adminpojo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDaoq</display-name>
    <servlet-name>AdminDaoq</servlet-name>
    <servlet-class>AdminDaoq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDaoq</servlet-name>
    <url-pattern>/AdminDaoq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDao1</display-name>
    <servlet-name>AdminDao1</servlet-name>
    <servlet-class>AdminDao1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDao1</servlet-name>
    <url-pattern>/AdminDao1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPojoAdd</display-name>
    <servlet-name>AdminPojoAdd</servlet-name>
    <servlet-class>AdminPojoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPojoAdd</servlet-name>
    <url-pattern>/AdminPojoAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystDelete</display-name>
    <servlet-name>AnalystDelete</servlet-name>
    <servlet-class>AnalystDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystDelete</servlet-name>
    <url-pattern>/AnalystDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalystDelete1</display-name>
    <servlet-name>AnalystDelete1</servlet-name>
    <servlet-class>AnalystDelete1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalystDelete1</servlet-name>
    <url-pattern>/AnalystDelete1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changer</display-name>
    <servlet-name>Changer</servlet-name>
    <servlet-class>Changer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changer</servlet-name>
    <url-pattern>/Changer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUtoA</display-name>
    <servlet-name>LoginUtoA</servlet-name>
    <servlet-class>LoginUtoA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUtoA</servlet-name>
    <url-pattern>/LoginUtoA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRedirect</display-name>
    <servlet-name>UserRedirect</servlet-name>
    <servlet-class>UserRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRedirect</servlet-name>
    <url-pattern>/UserRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelete</display-name>
    <servlet-name>UserDelete</servlet-name>
    <servlet-class>UserDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDao</display-name>
    <servlet-name>DeleteDao</servlet-name>
    <servlet-class>DeleteDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDao</servlet-name>
    <url-pattern>/DeleteDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelController</display-name>
    <servlet-name>AdminDelController</servlet-name>
    <servlet-class>AdminDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelController</servlet-name>
    <url-pattern>/AdminDelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRollController</display-name>
    <servlet-name>ChangeRollController</servlet-name>
    <servlet-class>ChangeRollController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRollController</servlet-name>
    <url-pattern>/ChangeRollController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportDao</display-name>
    <servlet-name>ReportDao</servlet-name>
    <servlet-class>ReportDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportDao</servlet-name>
    <url-pattern>/ReportDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReportDao</display-name>
    <servlet-name>UserReportDao</servlet-name>
    <servlet-class>UserReportDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReportDao</servlet-name>
    <url-pattern>/UserReportDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReportController</display-name>
    <servlet-name>UserReportController</servlet-name>
    <servlet-class>UserReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReportController</servlet-name>
    <url-pattern>/UserReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoReport</display-name>
    <servlet-name>DemoReport</servlet-name>
    <servlet-class>DemoReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoReport</servlet-name>
    <url-pattern>/DemoReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestScript</display-name>
    <servlet-name>TestScript</servlet-name>
    <servlet-class>TestScript</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestScript</servlet-name>
    <url-pattern>/TestScript</url-pattern>
  </servlet-mapping>
</web-app>